# Desafio de Projeto - Análise de Dados com Pandas

## Python Básico

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
print("Estou aprendendo Python")

Estou aprendendo Python

In [3]:
"Estou aprendendo Python"

'Estou aprendendo Python'

In [4]:
1 + 1

2

In [5]:
10 - 2

8

In [6]:
# Esse é um comentário em Python

In [7]:
# Multiplicação:
2 * 2

4

In [8]:
# Divisão:
10 / 2

5.0

In [9]:
# Criando variáveis do tipo 'integer'
a = 4
b = 6
a + b

10

In [10]:
# Criando uma variável do tipo 'string'
frase = "Python para Análise de Dados"
print(frase)

Python para Análise de Dados

In [11]:
frase[0]

'P'

In [12]:
frase[0:10]

'Python par'

In [13]:
frase[10:]

'a Análise de Dados'

In [14]:
frase[:17]

'Python para Análi'

In [15]:
frase.count("Dados")

1

In [16]:
frase.lower()

'python para análise de dados'

In [17]:
frase.upper()

'PYTHON PARA ANÁLISE DE DADOS'

In [18]:
frase.replace("Python", "Linguagem Python")

'Linguagem Python para Análise de Dados'

## Estrutura de Dados

### Listas

In [19]:
# Criando uma lista chamada animais
animais = [1, 2, 3]
animais

[1, 2, 3]

In [20]:
# Criando uma lista com mais de um tipo de dado
animais = ["cachorro", "gato", 12345, 6.5]
animais

['cachorro', 'gato', 12345, 6.5]

In [21]:
# Imprimindo o primeiro elemento da lista
animais[0]

'cachorro'

In [22]:
# Substituindo o primeiro elemento da lista
animais[0] = "papagaio"
animais

['papagaio', 'gato', 12345, 6.5]

In [23]:
# Removendo gato da lista
animais.remove("gato")
animais

['papagaio', 12345, 6.5]

In [24]:
# Retornar o tamanho da lista
len(animais)

3

In [25]:
# Verificar se elemento está na lista
"gato" in animais

False

In [26]:
lista = [500, 30, 300, 80, 10]

In [27]:
# Retornando o valor máximo da lista
max(lista)

500

In [29]:
# Retornando o valor mínimo da lista
min(lista)

10

In [34]:
# Adicionando um elemento a lista
animais.append("leão")
animais

['papagaio', 12345, 6.5, 'leão']

In [40]:
# Adicionando mais de um elemento na lista (lista aninhada)
animais.append(["cachorro", "gato"])
animais

['papagaio', 12345, 6.5, 'leão', ['cachorro', 'gato']]

In [41]:
# Adicionando mais de um elemento na lista de uma vez
animais.extend(["cobra", 6])
animais

['papagaio', 12345, 6.5, 'leão', ['cachorro', 'gato'], 'cobra', 6]

In [42]:
# Retornar contagem de um elemento específico na lista
animais.count("periquito")

0

In [44]:
# Ordenando do maior para o menor em uma lista
lista.sort()
lista

[10, 30, 80, 300, 500]

### Tuplas

In [46]:
# Criando uma tupla
tp = ("Banana", "Maça", 10, 50)
tp

('Banana', 'Maça', 10, 50)

In [47]:
# Retornando um elemento de uma tupla a partir do índice
tp[0]

'Banana'

In [50]:
# Retornar contagem de um elemento específico na tupla
tp.count("Maça")

1

In [49]:
# Slicing de uma tupla (retorna os elementos)
tp[0:2]

('Banana', 'Maça')

### Dicionário

In [52]:
dict = {"Maçã": 20, "Banana": 10, "Laranja": 15, "Uva": 5}
dict

{'Maçã': 20, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [53]:
# Acessando o valor de um dicionário através da chave
dict["Maçã"]

20

In [54]:
# Modificando o valor de uma elemento através da chave
dict["Maçã"] = 25
dict

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5}

In [55]:
# Retornando todas as chaves do dicionário
dict.keys()

dict_keys(['Maçã', 'Banana', 'Laranja', 'Uva'])

In [56]:
# Retornando todos os valores do dicionário
dict.values()

dict_values([25, 10, 15, 5])

In [57]:
# Verificando se já existe uma chave no dicionário e caso não exista, insere a chave
dict.setdefault("Limão", 22)

22

In [58]:
dict

{'Maçã': 25, 'Banana': 10, 'Laranja': 15, 'Uva': 5, 'Limão': 22}

## Introdução à biblioteca Pandas

In [59]:
# Importando a biblioteca 'Pandas'
import pandas as pd

In [65]:
# Lendo o arquivo .csv
df = pd.read_csv("datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [67]:
# Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [69]:
# Renomeando o título das colunas
df = df.rename(columns={'country': 'País', 'continent': 'Continente', 'year': 'Ano', 'lifeExp': 'Expectativa de Vida', 'pop': 'População', 'gdpPercap': 'PIB (Per Capita)'})

In [73]:
# Visualizando as 10 primeiras do df com títulos de colunas atualizados utilizando o método display
df.head(10)

,País,Continente,Ano,Expectativa de Vida,População,PIB (Per Capita)
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106
5,Afghanistan,Asia,1977,38.438,14880372,786.113360
6,Afghanistan,Asia,1982,39.854,12881816,978.011439
7,Afghanistan,Asia,1987,40.822,13867957,852.395945
8,Afghanistan,Asia,1992,41.674,16317921,649.341395
9,Afghanistan,Asia,1997,41.763,22227415,635.341351

In [75]:
# Retornar o tamanho do datafrmae (linhas, colunas)
df.shape

(3312, 6)

In [76]:
# Retornar apenas o nome das colunas
df.columns

Index(['País', 'Continente', 'Ano', 'Expectativa de Vida', 'População',
       'PIB (Per Capita)'],
      dtype='object')

In [77]:
# Retornar o tipo de dado armazenado em cada coluna
df.dtypes

País                    object
Continente              object
Ano                      int64
Expectativa de Vida    float64
População                int64
PIB (Per Capita)       float64
dtype: object

In [78]:
# Retornar as últimas 5 linhas do dataframe
df.tail()

,País,Continente,Ano,Expectativa de Vida,População,PIB (Per Capita)
3307,Zimbabwe,Africa,1987,62.351,9216418,706.157306
3308,Zimbabwe,Africa,1992,60.377,10704340,693.420786
3309,Zimbabwe,Africa,1997,46.809,11404948,792.449960
3310,Zimbabwe,Africa,2002,39.989,11926563,672.038623
3311,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [79]:
# Resumo estatístico das colunas
df.describe()

               Ano  Expectativa de Vida     População  PIB (Per Capita)
count  3312.000000          3312.000000  3.312000e+03       3312.000000
mean   1980.301630            65.246871  3.161489e+07      11317.115805
std      16.927294            11.768412  1.041193e+08      11369.142739
min    1950.000000            23.599000  5.941200e+04        241.165876
25%    1967.000000            58.337500  2.678572e+06       2514.625266
50%    1982.000000            69.610000  7.557218e+06       7838.505123
75%    1996.000000            73.657750  1.958522e+07      17357.879170
max    2007.000000            82.670000  1.318683e+09     113523.132900

In [80]:
# Retornar os valores distintos da coluna especificada
df['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [81]:
# Filtrar um valor específico de uma coluna
oceania = df.loc[df['Continente'] == 'Oceania']
oceania.head()

     País Continente   Ano  Expectativa de Vida  População  PIB (Per Capita)
975  Fiji    Oceania  1962               56.494     421869       2039.393277
976  Fiji    Oceania  1967               58.607     485000       2170.073285
977  Fiji    Oceania  1972               60.642     544000       2797.759484
978  Fiji    Oceania  1977               62.669     599339       3182.569600
979  Fiji    Oceania  1982               64.683     658906       3209.257468

In [83]:
# Retornar a contagem de valores distintos de uma coluna
df.groupby('Continente')['País'].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: País, dtype: int64

In [86]:
# Retorna a média dos valores de uma coluna
df.groupby('Ano')['Expectativa de Vida'].mean()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283438
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921562
2005    76.718667
2006    77.887778
2007    67.868557
Name: Expectativa de Vida, dtype: float64

In [88]:
df['PIB (Per Capita)'].mean()

11317.115804696637

In [89]:
df['PIB (Per Capita)'].sum()

37482287.5451553

## Trabalhando com Planilhas do Excel

## Trabalhando com datas

## Visualização de dados

## Análise Exploratória